@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Figtree", sans-serif;
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #666666;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f5f5f5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}